.component1-container {
  display: flex;
  position: relative;
}
.component1-image {
  width: 600px;
  height: 600px;
  position: relative;
  object-fit: cover;
}
.component1-root-class-name {
  top: 224px;
  left: 212px;
  position: absolute;
}
.component1-root-class-name1 {
  top: 224px;
  left: 212px;
  position: absolute;
}
